body {
    margin: 0px;
    padding: 0px;
}
.bene{
    margin-left: 35%;
    margin-top: 30%;
}
.benu{
    transform: rotate(90deg);
    position: absolute;
    top: 150px;
    left: 550px;
}
.table{
    margin-left: 35%;
    position: absolute;
}
.bena{
    margin-left: 27%;
    margin-top: 10%;
    position: absolute;
}
.nav {
    margin-left: 50%;
        }




.divi  {
    background-color: darkorange;
}

.beb{
    text-align: center;
}
.beni{
    text-align: center;90